:root {
  /* Colors */
  --bgc-color: rgb(245, 245, 245);
  --index-font: #000;
}

body {
  background-color: var(--bgc-color);
  color : var(--index-font)
}

button {
  margin: 0 10px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

/* FOR BOX SIZING */
.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 15px;
}
.white-box .box-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline .counter {
  font-size: 25px;
  font-weight: 100;
}

td {
  font-weight: 600;
}

/* text css */

.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.text-green {
  color: rgb(11, 128, 11);
}
