{% extends 'layout.html' %}
{% block head %}
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js">
    </script>
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <style>
    div#content {
        display: none;
    }

    div#loading {
        top: 200 px;
        margin: auto;
        position: absolute;
        z-index: 1000;
        width: 160px;
        height: 24px;
        background: url(loadingimage.gif) no-repeat;
        cursor: wait;
    }

    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2ST7N3ZY3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-V2ST7N3ZY3');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5548835221228418"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="white-box">
    <div id="loading"></div>
        <h2 class="mt-3">주식 패턴 검색기</h2>
        <p class="text-left mt-3"><b>종목 코드</b>를 입력해 주세요. 종목 코드를 모르신다면 <b><a
                    href="https://www.ktb.co.kr/trading/popup/itemPop.jspx" target="_blank">여기</a></b>에서 검색해 주세요.</p>
        <p class="text-left mt-3">설정한 기간의 종가 데이터와 과거 데이터의 종가 데이터의 유사도를 분석하여 가장 근접한 유사도를 찾아 과거 데이터의 5일 뒤 그래프를 보여줍니다.</p>
        <form action="{{ url_for('pattern.index') }}" method="post">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">종목 코드</span>
                    </div>
                    {% if code %}
                    <input type="text" class="form-control" placeholder="종목코드 입력" aria-label="Username" value="{{code}}"
                        aria-describedby="basic-addon1" name="code">
                    {% else %}
                    <input type="text" class="form-control" placeholder="종목코드 입력 (ex 삼성전자 : 005930)" aria-label="Username" 
                        aria-describedby="basic-addon1" name="code">
                    {% endif %}
                </div>
            </div>
            <p class="text-left"><b>날짜</b>를 선택해 주세요.</p>
            <div class="form-group">
                <div class="row">
                    <div class='col-md-3'>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">시작일</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                {% if startdate %}
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker1" value="{{startdate}}" name="startdate">
                                {% else %}
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker1" name="startdate" placeholder="날짜 선택">
                                {% endif %}
                                <div class="input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group mb-3">
                            <label for="exampleFormControlSelect1">종료일</label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                {% if enddate %}
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker2" value="{{enddate}}" name="enddate">

                                {% else %}
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker2" placeholder="날짜 선택" name="enddate">
                                {% endif %}

                                <div class="input-group-append" data-target="#datetimepicker2"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if chart %}
                <img src="{{ url_for('pattern.plot_chart', code=code, startdate=startdate, enddate=enddate) }}"
                    class="img-fluid" alt="종목 코드와 날짜를 확인해주세요." />
                {% endif %}
            </div>
            <div class="form-group mb-3">
                <input type="submit" class="btn btn-info btn-block" name="action" value="차트확인">
            </div>
            <div class="form-group mb-3">
                <input type="submit" class="btn btn-success btn-block" name="action" onclick="LoadingWithMask();"
                    value="패턴검색">
            </div>
            <div id="loadingcontainer"></div>
        </form>
    </div>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            useCurrent: false
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            useCurrent: false
        });
        $("#datetimepicker1").on("change.datetimepicker", function (e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker2").on("change.datetimepicker", function (e) {
            $('#datetimepicker1').datetimepicker('maxDate', e.date);
        });
    });

    function LoadingWithMask() {
        //화면의 높이와 너비를 구합니다.
        var maskHeight = $(document).height();
        var maskWidth = window.document.body.clientWidth;

        //화면에 출력할 마스크를 설정해줍니다.
        var mask =
            "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingImg = '';
        loadingImg += "<p class='text-center'><b>패턴 검색 중입니다. 잠시만 기다려 주세요.</b></p>"
        loadingImg += "<div id='loadingImg'>";
        loadingImg +=
            " <img src='https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif' style='position: relative; display: block; margin: 0px auto;'/>";
        loadingImg += "</div>";

        //화면에 레이어 추가
        $('body')
            .append(mask)

        $('#loadingcontainer').append(loadingImg)

        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
        $('#mask').css({
            'width': maskWidth,
            'height': maskHeight,
            'opacity': '0.3'
        });

        //마스크 표시
        $('#mask').show();

        //로딩중 이미지 표시
        $('#loadingImg').show();
    }

    function closeLoadingWithMask() {
        $('#mask, #loadingImg').hide();
        $('#mask, #loadingImg').remove();
    }
</script>
{% endblock %}


<!--
1. 본인 페이지만을 위한 짜잘한 css는 html 태그 안에 style 속성으로 직접 입력하거나, 본인만을 위한 css 파일을 만들기 
            ( ex. login.css, index.css ... )

2. <span> 태그에 class로 글씨색 변경 -> text-success : 초록색, text-danger : 빨간색, text-purple : 검정에 가까운 보라색, text-info : 하늘색

3. *** white-box 클래스로 레이아웃 잡을 때 주의 !!!!!!! ***
현재 style.css에 white-box 클래스 배경색은 #363636으로 어두운 배경색임 !! 
레이아웃 구성까지만 박스가 보이게 하고싶다면 style.css에서 일단 다른색으로 바꿔놓고, 
레이아웃 다 잡은 다음에 배경색 다시 바꿔주면 됨~
-->