{% extends 'layout.html' %}
{% block content %}
<body style="background-color:#363636;">
  <div align="center" style="width:1200px;  margin-top:15px;">
    <h2 style="color:white;">Portfolio 목록</h2>
    <hr style="color:white;">
  </div>
  <div align="center" style="width:600px; text-align:center; margin-left:300px;">
    <table class="table table-light border border-light border-3 table table-striped">
      <thead class="table-light" style="text-align:center;">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Portfolio Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody style="text-align:center;"> 
        {% for idx in range(pfname_list|length) %}
        <tr>
          <th>{{idx+1}}</th>
          <td><a href="/portfolio/result?pfname={{pfname_list[idx][0]}}"><strong style="font-size:small;">{{pfname_list[idx][0]}}</strong></a></td>
          <td><input type="checkbox"></td>
        </tr>
        {% endfor %} 
      </tbody>
      <tfoot></tfoot>
    </table>
    <div align="right">
      <button class="btn btn-sm btn-outline-light" onclick='location.href="{{url_for("portfolio.portfolio")}}"'>새로 작성하기</button>
      <button class="btn btn-sm btn-outline-light" onclick="#">삭제하기</button>
      <button class="btn btn-sm btn-outline-light" onclick='location.href="{{url_for("home")}}"'>홈으로</button>
    </div>
  </div>
</body>
{% endblock %}