{% extends 'layout.html' %}
{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="/static/css/login.css">
<style>
  body {
    background-color: #363636
  }
</style>
{% endblock %}
{% block content%}
<div class="container-fluid">
  <div class="login-form">
    <form id="loginForm" method="POST" action="local_login">
      <h1> LogIn </h1>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
          aria-label="Warning:">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div> {{ msg }} </div>
      </div>
      {% endfor %}{% endif %} {% endwith %}
      <div class="form-group">
        <input type="email" name="email" id="email" placeholder="E-mail Address">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <button class="login-btn">Login</button>
    </form>
    <a class="reset-psw" href="find_pw">Forgot your password?</a>
    <a class="reset-psw" href="signup" style="color:white">Create account</a>
    <div class="seperator"><b>or</b></div>
    <p>Sign in with your social media account</p>
    <!-- Social login buttons -->
    <div class="form-group">
      <div class='social_login'><a href='google_login'><img src="/static/img/google.png" href='google_login'
            style="height:100%;" /></a></div>
    </div>
    <div class="form-group">
      <div class='social_login'><a href='kakao_login'><img src="/static/img/kakao.png" style="height:100%;" /></a></div>
    </div>
  </div>
</div>
{% endblock %}